* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* min-width: 100wh; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  flex: 0 0 95%;
}

.screen {
  width: 100%;
  font-size: 8rem;
  color: white;
  background: rgb(38, 36, 39);
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
  outline: none;
  box-shadow: 0 0 50px rgb(56, 53, 53);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

button {
  flex: 0 0 25%;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0.25rem 0;
  transition: all 1s linear;
  outline: none;
  text-shadow: 1px 1px 8px black;
  box-shadow: 0 1px 20px black;
}
button:hover {
  background: rgb(120, 52, 228);
}

.btn-yellow {
  background: rgb(233, 181, 8);
  color: white;
}
.btn-grey {
  background: rgb(196, 194, 187);
}

.btn,
.btn-clear,
.btn-equal {
  font-size: 4rem;
}

.btn-equal {
  background: rgb(20, 235, 109);
}
.btn-clear {
  background: rgb(233, 17, 81);
}
